.clues-card {
  width: 85%;
  padding-top: 100px;
  margin: auto;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}

.clues-card li {
 list-style: none;
}

.clue {
  font-family: 'Helvetica', sans-serif;
  width: 100%;
  height: 40%;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid #0341a5;
  display: inline-block;
  margin-bottom: 30px;
  box-shadow: 0 0 10px 0 black;
  background-color: #0341a5;
  text-shadow: 2px 2px #000000;
  cursor: default;
  z-index: 1;
}

h2.clue-value {
  color: #dba876;
  font-weight: bolder;
}

.clue-sides {
  font-family: 'ITC Korinna', sans-serif;
}

.clue-sides:hover {
  transform-style: preserve-3d;
  transition: all .7s linear;
  transform: rotateY(180deg);
}

.clue-sides:hover > .clue-front {
  opacity: 0;
  transition: opacity 1s ease-in, visibility .75s linear;
}

.clue-back {
  display: none;
  transform: rotateY(180deg);
}

.clue-sides:hover > .clue-back {
  text-align: center;
  position: relative;
  margin: auto;
  display: block;

}
