.home-container {
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #0341a5;
  box-shadow: 0 0 10px 0 white;
  color: #FFFFFF;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: bolder;
  background-color: #0341a5;
  font-family: 'helvetica', sans-serif;
  text-transform: uppercase;
  text-shadow: 2px 2px #000000;
  cursor: default;
}



button {
  cursor: pointer;
  margin-top: 10px;
}

button:active {
  border-radius: 5px;
  border: 1px solid #0341a5;
  box-shadow: 0 0 10px 0 black;
}

.home-container a {
  font-style: italic;
  color: #000000;
  font-size: 0.6em;
}

.home-container a:hover {
  text-decoration: none;
}


.credit {
  position: absolute;
  bottom: 25px;
  left: 20%;
  font-family: 'Helvetica', sans-serif;
  color: #ffffff;
  text-shadow: 2px 2px #512370;
  font-size: 0.8em;
  text-transform: uppercase;
  text-align: center;
}
