.App {
  text-align: center;
}

.app-header {
  background-image: linear-gradient(to top left, #f7e096, #96467b);
}

.app-title {
  font-size: 4em;
  text-transform: uppercase;
  font-style: italic;
}

.jservice {
  font-size: 0.8em;
  margin: 0 10px 10px;
  vertical-align: top;
  color: #FFFFFF;
}

.clues-container {
  box-shadow: 0 0 10px 0 white;
  text-transform: uppercase;
  color: #FFFFFF;
}
